<template>
  <div>
    <gl-deprecated-badge href="#" variant="primary">Primary</gl-deprecated-badge>
    <gl-deprecated-badge href="#" variant="secondary">Secondary</gl-deprecated-badge>
    <gl-deprecated-badge href="#" variant="success">Success</gl-deprecated-badge>
    <gl-deprecated-badge href="#" variant="danger">Danger</gl-deprecated-badge>
    <gl-deprecated-badge href="#" variant="warning">Warning</gl-deprecated-badge>
    <gl-deprecated-badge href="#" variant="info">Info</gl-deprecated-badge>
    <gl-deprecated-badge href="#" variant="light">Light</gl-deprecated-badge>
    <gl-deprecated-badge href="#" variant="dark">Dark</gl-deprecated-badge>
  </div>
</template>
